/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*fx:controller="application.FXMLFilmeController" #19323C styleClass="text-text"*/

@font-face {
	src: url(JosefinSans-Regular.ttf);
}

.anchorPane{
	-fx-background-color: transparent;
}

.imagemFundo {
	-fx-background-image:url(../imgs/FundoOpaco2.jpg); 
	-fx-background-size: cover;
}

.text-field#txtPesquisa {
	-fx-background-color: #AABBCC;
	-fx-text-fill: #191919;
	-fx-prompt-text-fill: #191919;
	-fx-font-size: 35px;
	-fx-opacity: 75%;
	-fx-font-family: "Josefin Sans";
}

.label {
	-fx-text-fill: #19323C;
	-fx-font-size: 90px;
	-fx-font-family: "Josefin Sans";
}

.separator {
	-fx-background-color: #aabbcc;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0.5 0;  /*its make really one-pixel-border*/
    -fx-border-color: #aabbcc;
}

.text-text {
	-fx-text-fill: #19323c;
	-fx-font-size: 30px;
	-fx-font-family: "Josefin Sans";
}

.itemLivro {
	-fx-background-color: transparent;
}

.itemLivro:pressed {
	-fx-border-color: transparent;
	-fx-border-width: 0.15em;
}

.itemLivro:hover {
	-fx-opacity: 80%;
}

/* SCROLLs */

.scroll-bar {
	-fx-background-radius : 0.5em;
	-fx-background-color : derive(#AABBCC,0.0%);
}

.scroll-bar:vertical .track{
    -fx-background-color :derive(#AABBCC,0.0%);
    -fx-border-color:transparent;
    -fx-background-radius : 0.5em;
    -fx-opacity: 50%;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.5em;
    -fx-padding :1.0 10.0 0.0 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
 	-fx-background-color : transparent;
    -fx-shape : " ";    
    -fx-padding :0.0 0.50em;
    -fx-background-radius : 0.5em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.5em;
    -fx-padding :1.0 10.0 0.0 0.0;
}

 .scroll-bar:horizontal .increment-arrow,
 .scroll-bar:horizontal .decrement-arrow{
 	-fx-background-color : transparent;
    -fx-shape : " ";    
    -fx-padding :0.0 0.50em;
    -fx-background-radius : 0.5em;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color :derive(#19323C,0.0%);
    -fx-background-insets : 1.7, 0.0, 0.0;
    -fx-background-radius : 0.5em;
}

.scroll-bar:vertical .thumb:hover,
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color :derive(#19323C,0.0%);
    -fx-background-insets : 3.0, 0.0, 0.0;
    -fx-background-radius : 0.5em;
}

.scroll-bar:vertical .thumb:pressed,
.scroll-bar:horizontal .thumb:pressed {
    -fx-background-color :derive(#19323C,0.0%);
    -fx-background-insets : 3.0, 0.0, 0.0;
    -fx-background-radius : 0.5em;
}

.scroll-pane {
	-fx-background-color : transparent;
}

.scroll-pane > .viewport  { 
	-fx-background-color: transparent;
		
} 

/* IDs Labels */ 

.label#lblLocal {
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 50px;
}

.label#lblTituloL {
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 40px;
}

.label#lblAutor {
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 40px;
}

.label#lblGenero {
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 40px;
}

.label#lblEditora {
	-fx-font-family: "Josefin Sans";
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 40px;
}

.label#lblAno {
	-fx-font-family: "Josefin Sans";
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 40px;
}

.label#lblInicio {
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 50px;
}

.label#lblAviso {
	-fx-text-fill: #FCFCFC;
	-fx-font-size: 45px;
	-fx-font-family: "Josefin Sans";
}

.label#lblSair {
	-fx-text-fill: #12242b;
	-fx-font-size: 25px;
	-fx-font-family: "Josefin Sans";
}

.label#lblSair:hover {
	-fx-text-fill: #607078;
}

.text-text#lblSinopse {
	-fx-font-family: "Josefin Sans";
	-fx-font-size: 35px;
}

.text-text2#lblAviso {
	-fx-font-family: "Josefin Sans";
	-fx-font-size: 35px;
}

/* IDs Buttons  */

.button#btnPesquisar,
.button#btnProximo,
.button#btnAnterior,
.button#btnVoltar {
	-fx-background-color: transparent;
}

.button:hover#btnAnterior,
.button:hover#btnProximo,
.button:hover#btnVoltar {
	-fx-opacity: 80%; 
}

.button:hover#btnPesquisar {
	-fx-opacity: 85%; 
}

.button#btnLivro {
	-fx-background-color: transparent;
}

.button:pressed#btnLivro {
	-fx-border-color: transparent;
	-fx-border-width: 0.15em;
}

.button:hover#btnLivro {
	-fx-opacity: 80%;
}